* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    width: 80%;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

h3 {
    text-align: center;
    margin-top: 50px;
}

section {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px 10%;
}

article {
    flex: 1 1 250px;
}

p {
    text-align: center;
    width: 100%;
    max-width: 700px;
    color: gray;
}

article img {
    width: 100%;
    height: auto;
    max-width: 700px;
}

/* Responsividade celular */
@media (max-width: 670px) {
    .logo {
        font-size: 3rem;
    }

    header {
        padding: 20px 20px;
    }


    nav {
        flex-direction: column;

    }

    p {
        font-size: 1.5rem;
        color: gray;

    }

    nav ul {
        flex-direction: column;
        justify-content: center;

    }

    nav li {
        background-color: grey;
    }

    section {
        gap: 15px;
        padding: 50px 5%;
    }
}